.menu-title {
  position: absolute;
  width: 100vw;
  top: 20rem;
  left: 0;
  text-align: center;
}

.menu-button {
  display: block;
  height: 3rem;
  width: 17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
}

.google-login-button>span {
  padding-left: 2.5rem;
}

.google-login-button-icon {
  position: absolute;
  height: 1.5rem;
  left: 2rem;
  top: calc((3rem - 1.5rem) / 2);
}

.menu-button>span {
  font-size: 1.1rem;
  font-weight: 500;
}

@media (orientation: portrait) {
  .menu-title {
    top: 8rem;
  }
}

.profile-info {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  left: 50vw;
  transform: translateX(-50%);
  padding: 0.2rem;
  border: 2px solid #424242;
  border-radius: 99rem;
  height: 2.5rem;
  min-width: 2.5rem;
  cursor: pointer;
}

.profile-info-name {
  padding-left: 0.7rem;
  padding-right: 0.5rem;
  font-weight: 500;
  max-width: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile-info-photo {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.profile-view {
  background-color: #141414;
  border-radius: 1rem;
  border: 2px solid #424242;
  position: fixed;
  bottom: 2rem;
  left: 50vw;
  transform: translateX(-50%);
  width: 25rem;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-view-photo {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.profile-view-photo-container {
  margin-bottom: 2rem;
  padding: 0.2rem;
  border: 2px solid #424242;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}

.profile-view-name {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.profile-view-email {
  font-weight: 500;
  margin-bottom: 2rem;
}

.profile-view-close-button {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  border-width: 2px;
}

@media (orientation: portrait) {
  .profile-view {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: initial;
    padding: 0;
    border-radius: initial;
    border: initial;
    transform: initial;
  }

  @supports (height: 100dvh) {
    .controls {
      height: 100dvh;
    }
  }
}